/* Simple normalization */
* {
  margin : 0;
  padding: 0;
}

body{
  margin : 0;
  background-color: white;
  font-family: "Lucida Console", Monaco, monospace;
  padding-top: 3%;
}

/* NAVIGATION BAR STYLES -------------------------------- */
.navigation {
  background-color: black;
  color: white;
  overflow: hidden;
  position: fixed;
  width : 100%;
  -webkit-transform: translateZ(0);
  z-index: 1000;
  top: 0;
}

.LScontainer{
  float:right;
  margin: 5px auto;

}

.LSbuttons {
  font-size: 16px;
  padding : 3px 6px;
  margin: 2px auto;
  margin-left: 10px;
  margin-right: 10px;
}

.navigation a {
  float:left;
  text-align: center;
  font-size: 18px;
  font-family: monospace,sans-serif;
  padding : 14px 16px;
  color : white;
  text-decoration: none;
}

.navigation a:hover{
  background-color:#27a7d8;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.navigation a.active{
  background-color: #ff9a00;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

/* End of Navigation Bar style ----------------------------*/

#homeIcon {
  top: 20%;
}

.sectionContainer {
  margin: 2em auto;
  margin-left: 1em;
  margin-right: 1em;
  border: 0.3em solid black;

  -webkit-animation: fadein 3.5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3.5s; /* Firefox < 16 */
    -ms-animation: fadein 3.5s; /* Internet Explorer */
        animation: fadein 3.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.divWrapper {
  border: 0.5em solid #27a7d8;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);

}

#iconDiv {
  border: 0.5em solid #27a7d8;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
  height:80vh;
}

/* Home icon and slogan style ------------------------------*/
#sitePic {
  border : 3px solid white;
  margin: auto;
  margin-left: 0.5em;
  margin-top:0.5em;
  margin-bottom: 0.2em;
  max-width: 60%;
  /*min-height: 60vh;*/
  height: 95%;
  width: auto;
}

#slogan{
  font-size: 3.2vw;
  font-weight: 800;
  font-family: cursive,sans-serif;
  text-shadow: 2px 2px gray;
  text-align: center;
  float : right;
  margin : auto;
  margin-right: 0.35em;
  margin-top:0.2em;
  margin-bottom: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border : 3px solid white;
  background-color: rgba(0,0,0,0.2);
  max-width: 33%;
  /*min-height: 50vh;*/
  height: 95%;
  width: auto;
}
/*  End of Home icon and slogan style ------------------------------*/

/*  Service Description style --------------------------------------*/
.descriptionService {
  margin-top: 0.5em;
  margin-left: 0.5em;
  text-shadow: 2px 2px gray;
  font-size: 3em;
  font-family: monospace,sans-serif;

}

.ads {
  margin:1em auto;
  margin-left: 1em;
  margin-right: 1em;
  font-family: "Lucida Console", Monaco, monospace;
  border: 2em solid black;
  padding: 2em;
  text-shadow: 2px 2px gray;
}

.ads dt{
  margin-left: 1.5em;
  font-size: 2em;
  font-weight: 700;

}

.ads dd {
  text-align: right;
  margin-right: 2.5em;
  margin-left: 50%;
  font-size: 1.5em;
}
/* End of Service Description style ------------------------------*/

/* Start of personality test style -------------------------*/
.instructions {
  margin-left: 1.2em;
  font-size: 1.5em;
}

#testPreview {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;

}

/* End of personality test style ----------------------------------*/
